body{
	background-color:#fafafa;
}

#cv-menu{
	position:fixed;
	top:60%;
	left:75%;
}

div.box{
	text-align: justify;
}

.box span.is-italic{
	font-size: 20px;
}

@media (max-width:700px){
	#cv-menu{
		position: relative;
	}
}