body{
	background-color:#fafafa;
}

#cv-menu{
	position:fixed;
	top:20%;
	left:75%;
}

div.box{
	text-align: justify;
}

.bd-category-list li.is-active{
	background-color: #00d1b2;
}

.box span.is-italic{
	font-size: 20px;
}

@media (max-width:700px){
	#cv-menu{
		display:none;
	}
}